<nav class='navbar navbar-inverse' ng-controller='AuthCtrl'>
	<div class='navbar-header'>
		<a class='navbar-brand'>Fantasy Football</a>
	</div>
	<ul class='nav navbar-nav'>
		<li><a href='/'>Home</a></li>
	</ul>
	
	<ul class='nav navbar-nav pull-right'>
		<li><a href='#' ng-click='signUp()' ng-hide='signedIn()'>Sign up</a></li>
		<li><a href='#' ng-click='signIn()' ng-hide='signedIn()'>Sign in</a></li>
		<li><p class='navbar-text' ng-show='signedIn()'>Signed in as {{user}}</p></li>
		<li><a href='#' ng-show='signedIn()' ng-click='logout()'>Logout</a></li>
	</ul>

	<a href='#' class='dropdown-toggle' data-toggle='dropdown'>{{ user.name }}<b class='caret'></b>
	</a>
</nav>
